{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<style>
    .navbar {
        height: 100px !important; /*i assume your navbar size 100px*/
        background-color: #080809;
        color: white;
    }
    .logo{
        height: 40px;

    }
    .navbar-brand{
        padding-left: 40px;
    }

    .nav-item{
        align-items: right;
    }
    .list{
        padding-right: 10px;
        align-items: center;
    }

    a{
        color: white;
    }
    .jumbo1{
        margin-top: 55px;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 50px;

    }
    .btn1{
        margin-top: 10px;  

    }
    .btn2{
        margin-top: 10px;
        float: right;

    }
    

</style>


{% include 'navbar1.html' %}

<div class="jumbotron text-left jumbo1">
    <h4 class="display-8 text-center">Step 2 - Enter Address & Other Details:</h4>

    <form method="POST">

      {% csrf_token %}

        <input type="hidden" name="itemsJson"  id="itemsJson">
                
        <input type="hidden" id="amt"  name="amt" >

        {% if profile.name %}

        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" name="name" class="form-control" value="{{profile.name}}" id="examplename" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>

        {% else %}

        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" name="name" class="form-control" id="examplename" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>

        {% endif %}

        <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          <input type="email" class="form-control" name="email" value="{{profile.email}}" id="exampleEmail" placeholder="Enter your email" readonly>
        </div>

        {% if profile.address %}

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Address 1</label>
            <textarea class="form-control" name="address1" id="exampleFormControlTextarea1" rows="3">{{profile.address}}</textarea>
          </div>
        
          {% else %}

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Address 1</label>
            <textarea class="form-control" name="address1" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          {% endif %}

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Address 2</label>
            <textarea class="form-control" name="address2" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <input type="text" name="city" class="form-control"  placeholder="Enter Your City">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">State</label>
            <input type="text" name="state" class="form-control"  placeholder="Enter Your State">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Pin Code</label>
            <input type="text" name="zip_code" class="form-control"  placeholder="Enter Pin Code">
          </div>

          {% if profile.phone %}

          <div class="form-group">
            <label for="exampleInputPassword1">Phone Number</label>
            <input type="text" name="phone" class="form-control" value="{{profile.phone}}"  placeholder="Enter Phone Number">
          </div>

          {% else %}

          <div class="form-group">
            <label for="exampleInputPassword1">Phone Number</label>
            <input type="text" name="phone" class="form-control"  placeholder="Enter Phone Number">
          </div>

          {% endif %}

          <a href="{% url 'checkout1' %}"><button type="button" class="btn btn-primary btn-lg btn1">< Back</button></a>
          <a href=""><button type="submit" class="btn btn-primary btn-lg btn2">Next > </button></a>
      </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.js"
 integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
 crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<script>
if (localStorage.getItem('cart') == null) {
   var cart = {};
} else {
   cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);

var sum = 0;
var totalPrice = 0;
if ($.isEmptyObject(cart)) {
   //if object is empty
   mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
   $('#items').append(mystr);
} else {
   for (item in cart) {
       let name = cart[item][1];
       let qty = cart[item][0];
       let itemPrice = cart[item][2];
       sum = sum + qty;
       totalPrice = totalPrice + qty* itemPrice;
       
       mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                   <div><b> Price : ${itemPrice}</b></div>
                   <span class="badge badge-primary badge-pill">${qty}</span>
               </li>`
       $('#items').append(mystr);
   }
  

}

$('#itemsJson').val(JSON.stringify(cart));

var test = `${totalPrice}`;
document.getElementById("amt").value = test;
console.log(typeof(test))
</script>

