{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="card bg-light p-5">
  <h1 style="color:black">Password reset</h1>
  <p>Forgotten your password? <br> Enter your email address below, <br> and we’ll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email Address :</label>
          <input type="text" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Reset my Password</button>
      </form>


</div>



{% endblock content %}