{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
  .card{
    margin-top: 140px;
    margin-bottom: 60px;
    width:400px;
  }
</style>


<div class="card bg-light p-5">

  {% if messages %}
		<div class="messages">
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
		{% endfor %}
		</div>
	{% endif %}

  <h1 style="color:black">Sign Up</h1>
    <form method="POST">
        {% csrf_token %}

        <!--<div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>-->

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password1" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="exampleInputPassword1" required>
        </div>
        <p>Alredy have an account ?<a href="{% url 'signin1' %}"> Sign In</a></p>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>


</div>



{% endblock content %}